#--------------------------#
# CelSms Ignore Files    #
#--------------------------#

*
!/registration.php
!/etc**
!/CelSms**
!/.gitignore
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/auth.json
!/composer.json
!/composer.lock
!/README.md
!/LICENSE